/*

51adcf , a5ecd7 , 0278ae , e8ffc1

a1eafb fdfdfd
*/


body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.4rem;
}

#logo-image {
  width: 60px;
  height: 60px;
  opacity: 0.2;
}


.header-items {
  margin-right: 40px;
  font-family: 'Redressed', cursive;
  font-size: 1.9rem;
}

#home {
  background-color: #ffffff;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montez', cursive;
  line-height: 1.5;
  font-weight: bold;
}

.heading {
  font-size: 3.9rem;
  font-weight: bold;
}

h3 {
  font-size: 3.0rem;
  font-weight: normal;
}

h2{
  font-weight: lighter;
}

.container-fluid {
  padding: 4% 15%;
}

#about {
  background-color: #e3f6f5;
}

.hobby-images {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  float: left;
  margin-right: 20px;
}

.right-image {
  float: right;
  margin-left: 20px;
}

.hobbies {
  margin: 90px auto;
  width: 80%;
  text-align: left;
}

#work {
  background-color: #bae8e8;
  line-height: 1.5;
}

#work-name {
  font-weight: bold;
  font-size:26px;
  margin: 30px 0 30px 0;
}

#work-points {
  list-style-type: square;
  width: 50%;
  margin: auto;
  padding: 10px 0 10px 0;

}

li {
  text-align: left;
}

#contact {
  line-height: 1.8;
  margin: auto;
}

.icons {
  margin-left: 50px;
  margin-bottom: 10px;

}

.footer-content {
  margin: auto;
  padding: 20px;
  background-color: #363062;
  color: white;
}